.source-preview {
  background: var(--green-tint);
  opacity: 0.5;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  /*opacity: 1;*/
  transition: none;
  pointer-events: none;
  -webkit-touch-callout: none;
}

.item {
  padding: 20px;
  border: 1px solid black;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.item.is-over {
  border: 1px solid red;
}

.item.preview {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.drop-target {
  border: 1px solid var(--pink);
  min-width: 60px;
  display: inline-block;
  margin: 0 5px 0 5px;
  min-height: 50px;
  /* lower the box within text line */
  position: relative;
  top: 18px;
  transition: 1s ease-in-out;
}

.drop-target.isDragging {
  animation-duration: 1.5s;
  animation-timing-function: var(--easing);
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  transform: rotate(5deg);
}
